/*/Conteudo em comum de todas as paginas /*/

body{
    box-sizing: border-box;
    background-color: #FAE5D0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   

}

header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 12;
    background-color:#E4B04C;
    
}

.menu{    
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: black;
    
    
}

a,
        a:link {
            text-decoration: none;
            padding: 8px 16px;
            color: black;
            /*/ border: solid #A6A6A6 3px;/*/
        }

a:hover
{
    text-decoration: underline;
    color: #FAE5D0;
}

/*/ Fim de conteúdo /*/

/*/-------------------------------------------------------------------/*/ 

/*Página Sobre e profisional /*/

.container_menu{
    grid-column-start: 6;
    grid-column-end: 12;
    justify-content: center;    
    
    
}

.container_wraper{
    display: grid;
    
    
    
}
.container_imagem{
    grid-column-start: 1;
    grid-column-end: 2;    
    border: #E4B04C solid 2px;
    text-align: center;
    
}

.info{
    text-align: center;

}

.container_sobre{
    grid-column-start: 2;
    grid-column-end: 12;
    padding: 3px;  
    background-color:#A6A6A6;
    text-align: justify;
}



.container_sobre, 
p {
    font-size:large;
}


/*Página portfolio/*/

.container_projetos{
    height: 80vh;
    
}

.card{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
}

.img{
    background-color: #A6A6A6;
    text-align: center;
    box-shadow: 5px 5px gray;
}


.infos a{
    color: black;
}

.infos a:hover{
    color: #FAE5D0;
    text-decoration: none;
}

@media only screen and (max-width: 1216px) {
    .card {
        padding-top: 5px;
    display: flex;
    flex-flow: column;
    }

    .img{
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px gray;
    }
  
}

.rodape{
    background-color:#E4B04C;
    text-align: center;
    align-items: center;
    
}
/*Página Contato/*/

.container_conteudo{
    text-align: center;
}


.container_form{ 
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    width: 100%;
    margin: 0px 0; 
    height: 80vh;  
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #A6A6A6;
    border-radius: 5px;
    width: 500px;
    height: 400px;
}

input {
    width: 250px;
    margin: 5px 2%;
    height: 30px;
    display: inline;
    border-radius: 5px;
    border: none;
    
}


input:hover{
    background-color:#FAE5D0;
    border-color: #FAE5D0;
    

}

.mensagem{
    height: 100px;
}

button{
    font-weight: bolder;           
    background-color: #E4B04C; 
    text-align: center;  
    font-size: 15px;
    border: none;
    color: #0B0B0B; padding: 20px; 
    border-radius: 10px;
    width: 100px;
    margin-top: 10px;
   


}        
button:hover{
background-color:#FAE5D0;  
cursor: pointer;  
}