body{
    box-sizing: border-box;
    background-color: #FAE5D0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*/background-color: #FAE5D0;/*/

}

header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 12;
    background-color:#E4B04C;
    
}

.menu{    
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: black;
    
    
}

a,
        a:link {
            text-decoration: none;
            padding: 8px 16px;
            /*/ border: solid #A6A6A6 3px;/*/
        }

a:hover
{
    text-decoration: underline;
    color: #FAE5D0;
}

/*Página Sobre/*/

.container_menu{
    grid-column-start: 6;
    grid-column-end: 12;
    justify-content: center;    
    
    
}

.container_wraper{
    display: grid;
    
    
}
.container_imagem{
    grid-column-start: 1;
    grid-column-end: 1;    
    border: #E4B04C solid 2px;
    text-align: center;
    
}

.info{
    text-align: center;

}

.container_sobre{
    grid-column-start: 2;
    grid-column-end: 12;
    padding: 3px;  
    background-color:#A6A6A6;
    text-align: justify;
}





/*Página portfolio/*/







/*Página Contato/*/